@using WISHLIST.Models.Domain
@using WISHLIST.Repositories.Abstract
@model List<WishlistModel>
@inject IUserService _userService
@inject IWishlistService _wishlistService

@using (Html.BeginForm("GlobalWishlistPage", "Wishlist", FormMethod.Get))
{
    <div class="search-form">
        <input class="search-input" placeholder="Search by name..." name="request" type="text" />

        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
}

<div class="users">
    @{
        if (Model != null)
        {
            foreach (var wishlist in Model)
            {
                <div class="user">
                    @{
                        var user = await _userService.GetUserByUsername(User.Identity.Name);
                        var user2 = await _userService.GetUserById(wishlist.AuthorId);
                    
                        if (user.Id != wishlist.AuthorId)
                        {
                            <div class="text-inform">
                                <a href="/Wishlist/Wishlist?wishlistId=@wishlist.Id&username=@user.UserName"><h4>@wishlist.Name</h4></a>
                                <div class="personal">Author: @@@user2.UserName</div>
                            </div>
                            var owned = await _wishlistService.IsWishlistOwned(wishlist.Id, User.Identity.Name);

                            if (owned)
                            {
                                <a class="make-friend" href="#"><i class="fa-solid fa-check"></i></a>
                            }
                            else
                            {
                                <a class="make-friend" href="/Wishlist/AddExistingWishlist?wishlistId=@wishlist.Id"><i class="fa-solid fa-square-plus"></i></a>
                            }
                        }
                        else
                        {
                            <div class="text-inform">
                                <a href="/Wishlist/UpdateWishlist?wishlistId=@wishlist.Id"><h4>@wishlist.Name</h4></a>
                                <div class="personal">Author: @@@user2.UserName</div>
                            </div>
                        }
                    }

                </div>
            }
        }
    }
</div>