@model WISHLIST.Models.DTO.ChangePasswordModel;
@{
}
<body class="form-body">
    <div class="change-form-container">
        <div class="action">Password change</div>
        <form method="post" asp-controller="UserAuthentication" asp-action="ChangePassword">
            <div class="change-form-input">
                <div class="login-divide">
                    <div class="input-container">
                        <label class="label" asp-for="CurrentPassword">Current password</label>
                        <input class="input" type="password" asp-for="CurrentPassword" />

                        <div class="span-message">
                            <span asp-validation-for="CurrentPassword"></span>
                        </div>
                    </div>
                    <div class="input-container">
                        <label class="label" asp-for="NewPassword">New Password</label>
                        <input class="input" type="password" asp-for="NewPassword" />

                        <div class="span-message">
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div class="input-container">
                        <label class="label" asp-for="ConfirmPassword">Confirm password</label>
                        <input class="input" type="password" asp-for="ConfirmPassword" />

                        <div class="span-message">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                    @{
                        if (TempData["msg"] != null)
                        {
                            <div class="span-message">
                                <span>@TempData["msg"]</span>
                            </div>
                            TempData["msg"] = String.Empty;
                        }
                    }
                </div>

                <div class="button-container">
                    <input class="button" type="submit" value="CHANGE" />
                </div>
            </div>
        </form>
    </div>
</body>