@model WISHLIST.Models.DTO.UpdateUserInfoModel;
@{
    var path = Model.ImageFilePath;

}
<style>
    .custom-file-input {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        background: url('@Html.Raw(path)') no-repeat center center;
        background-color: black;
        background-size: cover;
        cursor: pointer;
        border: 0;
    }

    .hidden-file-input {
        display: none;
    }

</style>

<body class="form-body">
    <div class="container">
        <form class="file-form" method="post" asp-controller="User" asp-action="SaveFile" enctype="multipart/form-data">
            <div class="file-form-container">
                <div class="form-group">
                    <label for="file" class="custom-file-input">
                        <input type="file" id="file" name="file" class="hidden-file-input" />
                    </label>
                </div>

                <div class="button-container">
                    <input class="button" type="submit" value="Save Image" />
                </div>
            </div>
        </form>
        <form method="post" asp-controller="User" asp-action="UserInfoChange">
            <input type="hidden" value="@Model.Id" asp-for="Id" />
            <div class="update-form-input">
                <div class="update-input-container">
                    <div class="input-container">
                        <label class="label" asp-for="Surname">Surname</label>
                        <input class="input" type="text" asp-for="Surname" />

                        <div class="span-message">
                            <span asp-validation-for="Surname"></span>
                        </div>
                    </div>

                    <div class="input-container">
                        <label class="label" asp-for="Name">Name</label>
                        <input class="input" type="text" asp-for="Name" />

                        <div class="span-message">
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>

                    <div class="input-container">
                        <label class="label" asp-for="Birthday">Birthday</label>
                        <input class="input" type="date" asp-for="Birthday" />

                        <div class="span-message">
                            <span asp-validation-for="Birthday"></span>
                        </div>
                    </div>
                </div>
                @{
                    if (TempData["msg"] != null)
                    {
                        <div class="span-message">
                            <span>@TempData["msg"]</span>
                        </div>
                        TempData["msg"] = null;
                    }
                }
                <div class="button-container">
                    <input class="button" type="submit" value="UPDATE" />
                </div>
            </div>
        </form>
    </div>
</body>
