* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #909090;
    font-family: Tahoma;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #909090;
    text-decoration: none;
}

main {
    margin: 0;
    padding: 0;
    display: grid;
}

.login-form-container {
    display: grid;
    background: #141414;
    width: 25em;
    height: 35em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.action {
    text-align: center;
    margin: 1em;
    font-family: Tahoma;
    font-size: 30px
}

.login-form-input {
    margin-bottom: 2em;
    display: grid;
    justify-content: center;
}

.input-container {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    width: 15em;
}

.label {
    margin-bottom: 0.5em;
    font-size: 18px
}

.input {
    background: transparent;
    border-bottom: 1px solid #d49dff;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Tahoma;
    font-size: 16px;
    transition: linear 0.1s;
}

    .input:hover, .input:focus {
        border-bottom: 1px solid #68009f;
    }

.button {
    width: 9em;
    height: 3em;
    border-radius: 0.5em;
    background: #d49dff;
    color: #68009f;
    font: bold 14px Tahoma;
    transition: linear 0.2s;
    margin-top: 0.5em
}

    .button:hover {
        background: transparent;
        border: 2px solid #909090;
        color: #909090;
    }

.button-container {
    margin-top: 1em;
    margin-bottom: 2em;
    display: grid;
    justify-content: center;
}

.registration-form-container {
    display: grid;
    background: #141414;
    width: 50em;
    height: 45em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.form-redirect {
    text-align: center;
    font-size: 14px;
}

.registration-input-container {
    display: flex;
}

.divide-container1 {
    display: grid;
    border-right: 1px solid #909090;
    padding-right: 3em;
}

.divide-container2 {
    display: grid;
    padding-left: 3em;
}

.registration-form-input {
    margin-bottom: 2em;
    display: grid;
    justify-content: center;
}

.sidebar {
    position: absolute;
    left: -400px;
    width: 400px;
    height: 100%;
    background: #250039;
    transition: all 0.5s;
}

h1 {
    text-align: center;
    font-family: Tahoma;
    font: 40px Tahoma;
    margin: 0.5em;
}

.sidebar ul a {
    display: block;
    height: 4em;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #909090;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255,0.1);
    border-bottom: 1px solid black;
    transition: 0.2s;
}

ul {
    padding: 0;
}

    ul li:hover a {
        padding-left: 50px;
        background: #68009f;
    }

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #250039;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: #909090;
    padding: 6px 12px;
    transition: all 0.5s;
}

label #cancel {
    z-index: 1111;
    left: -350px;
    font-size: 30px;
    color: #68009f;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 400px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 350px;
}

.file-form {
    margin-top: 5em;
    margin-bottom: 4em;
}

.file-form-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.update-form-input {
    background: #141414;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    display: grid;
    justify-content: center;
    padding-top: 30px
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.auth-icon {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.2em;
    width: 1.7em;
    height: 1.7em;
    background: #141414;
    border-radius: 0.2em;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #d49dff;
    font-size: 20px;
}

.auth-icon:hover {
    background: #d49dff;
    transition: 0.5s;
}

    .auth-icon:hover .icon {
        color: #68009f;
    }

.dashboard-body {
    display: flex;
}

.list-header {
    text-align: left;
    margin-top: 2em;
    margin-left: 0.5em;
}

.left-side {
    width: 40vw;
}

.wishlists {
    margin-top: 3em;
}

.wishlist {
    background: #d49dff;
    height: 4em;
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 1em;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    border-radius: 0.3em;
}

.center-side {
    margin-left: 40vw;
    margin-top: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.add-button {
    font-size: 40px;
    background: #d49dff;
    width: 1.6em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
}

.add-icon {
    transform: rotate(45deg);
    color: #68009f;
}

.add-button:hover {
    background: none;
    transition: 0.5s;
}

.add-button:hover .add-icon {
    color: #d49dff;
    transition: 0.5s;
}

.wishlist-link {
    color: #68009f;
    font-family: Consolas;
}

.wishlist:hover {
    background: #c780ff;
}

.wishlist:hover .wishlist-link{
    color: #68009f;
}

.wishlist-actions{
    display: none;
}

.wishlist:hover .wishlist-actions{
    display: flex;
}

.delete{
    color: #68009f;
}

.upd-form{
    margin-left: 3em
}

.inside-upd-form{
    display: flex;
    align-items: center;
}

.upd-container{
    width: 25em;
}

.upd-textarea {
    width: 20em;
    height: 6em;
    box-sizing: border-box;
    resize: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background: #c8c8c8;
    color: #250039;
}

.upd-input {
    width: 20em;
    background: transparent;
    border-bottom: 1px solid #d49dff;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Tahoma;
    font-size: 16px;
    transition: linear 0.1s;
}

.add-form{
    display: grid;
    justify-content: center;
    align-content: space-between;
    height: 100vh;
}

.add-main {
    margin-top: 8em;
    display: grid;
    background: #141414;
    width: 25em;
    height: 35em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.add-textarea {
    width: 15em;
    height: 6em;
    box-sizing: border-box;
    resize: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background: #c8c8c8;
    color: #250039;
}